<h4>Historial de pagos <br><small>Lista de pagos realizados.</small></h4>
<hr>

<div ng-show="pagos.length > 0">

  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th>MONTO (Bs)</th>
        <th>FECHA Y HORA</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="pago in pagos">
        <td>{{ pago.monto | currency:"Bs. ":2 }}</td>
        <td>{{ pago.fecha_hora | date:"d MMM y h:mm:ss a" }}</td>
      </tr>
    </tbody>
  </table>

</div>
<div ng-show="noPays.length > 0">
  <p>{{noPays}}</p>
</div>
