<flash-message duration="5000"></flash-message>
<h4>Cuenta <br><small>Configuraciones básicas de tu cuenta.</small></h4>
<hr>
<form class="form-horizontal" ng-submit="cambios_cuenta()" name="form">
  <div class="form-group" ng-class="{ 'has-error' : form.email.$invalid && !form.email.$pristine || form.email_validation.$invalid }">
    <label for="email" class="col-sm-3 control-label">Correo electrónico</label>
    <div class="col-sm-7">
      <input type="email" class="form-control" id="email" name="email" ng-model="nuevo.email" ng-required="true" unique-email-edit ng-model-options="{ debounce: 100 }">
      <span class="help-block" ng-hide="form.email.$invalid">* Correo electrónico con el que accede a su cuenta en Priv.TV.</span>
      <div ng-if="form.email.$pending.unique">Validando....</div>
      <div ng-show="form.email.$invalid && !form.email.$pristine">
        <div ng-messages="form.email.$error">
            <span class="help-block" ng-message="required">Ingrese un correo electrónico válido.</span>
            <span class="help-block" ng-message="email">Ingrese un correo electrónico válido.</span>
            <span class="help-block" ng-message="unique">Este correo electrónico esta siendo utilizado actualmente.</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : form.nombre.$invalid && !form.nombre.$pristine }">
    <label for="nombre" class="col-sm-3 control-label">Nombre</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="nombre" name="nombre" ng-model="nuevo.nombre" ng-required="true" pattern="^[a-zA-Z-\s]+$">
      <span class="help-block" ng-show="!form.nombre.$invalid">* Necesario para los datos de pago.</span>
      <div ng-show="form.nombre.$invalid && !form.nombre.$pristine">
        <div ng-messages="form.nombre.$error">
          <p class="help-block" ng-message="required">Tu nombre es necesario.</p>
          <p class="help-block" ng-message="pattern">Tu nombre contiene caracteres no permitidos.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : form.apellido.$invalid && !form.apellido.$pristine }">
    <label for="apellido" class="col-sm-3 control-label">Apellido</label>
    <div class="col-sm-7">
      <input type="text" class="form-control" id="apellido" name="apellido" ng-model="nuevo.apellido" ng-required="true" pattern="^[a-zA-Z-\s]+$">
      <span class="help-block" ng-show="!form.apellido.$invalid">* Necesario para los datos de pago.</span>
      <div ng-show="form.apellido.$invalid && !form.apellido.$pristine">
        <div ng-messages="form.apellido.$error">
          <p ng-message="required"  class="help-block">Tu apellido es necesario.</p>
          <p ng-message="pattern"  class="help-block">Tu apellido contiene caracteres no permitidos.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : form.fecha_nacimiento.$invalid && !form.fecha_nacimiento.$pristine }">
    <label for="fecha_nacimiento" class="col-sm-3 control-label">Fecha de nacimiento</label>
    <div class="col-sm-7">
      <input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento"  ng-model="nuevo.fecha_nacimiento" ng-required="true"  ng-max="fecha_maxima">
      <span class="help-block" ng-show="!form.fecha_nacimiento.$invalid">* Necesario para los datos de pago.</span>
      <p ng-show="form.fecha_nacimiento.$invalid && !form.fecha_nacimiento.$pristine" class="help-block">Debe ser mayor de 18 años.</p>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : form.telefono.$invalid && !form.telefono.$pristine }">
    <label for="telefono" class="col-sm-3 control-label">Telefono</label>
    <div class="col-sm-7">
      <input type="text" ng-required="true" class="form-control" id="telefono" name="telefono" ng-model="nuevo.telefono" ng-minlength="11" ng-maxlength="11" valid-number>
      <span class="help-block" ng-show="!form.telefono.$invalid">* Necesario para los datos de pago.</span>
      <p ng-show="form.telefono.$invalid && !form.telefono.$pristine" class="help-block">Ingrese un número de teléfono válido.</p>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : resgistro.direccion.$invalid && !resgistro.direccion.$pristine }">
    <label for="direccion" class="col-sm-3 control-label">Dirección</label>
    <div class="col-sm-7">
      <textarea id="direccion" name="direccion" class="form-control" ng-model="nuevo.direccion" rows="8" cols="40" ng-required="true" ng-minlength="20"></textarea>
      <span class="help-block" ng-show="!form.direccion.$invalid">* Necesario para los datos de pago.</span>
      <div ng-show="form.direccion.$invalid && !form.direccion.$pristine">
        <div ng-messages="form.direccion.$error">
            <p class="help-block" ng-message="minlength">Introduzca una dirección válida.</p>
            <p class="help-block" ng-message="required">Tu dirección es necesaria.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
      <button type="submit" class="btn btn-success" ng-disabled="!form.$dirty && form.$invalid">Guardar cambios</button>
    </div>
  </div>
</form>
