<flash-message duration="5000"></flash-message>
<h4>Contraseña <br><small>Cambia o recupera tu contraseña actual.</small></h4>
<hr>
<form class="form-horizontal" ng-submit="cambiar_password()" name="form">
  <div class="form-group" ng-class="{ 'has-error' : form.old_pass.$invalid && !form.old_pass.$pristine }">
    <label for="old_pass" class="col-sm-3 control-label">Contraseña actual</label>
    <div class="col-sm-7">
      <input type="password" class="form-control" id="old_pass" name="old_pass" ng-model="old_pass" ng-required="true" ng-minlength="8">
      <div ng-show="form.old_pass.$invalid && !form.old_pass.$pristine">
        <div ng-messages="form.old_pass.$error">
            <p class="help-block" ng-message="required">Introduzca una contraseña válida.</p>
            <p class="help-block" ng-message="minlength">La contraseña es demasiado corta.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : form.new_pass.$invalid && !form.new_pass.$pristine }">
    <label for="new_pass" class="col-sm-3 control-label">Nueva contraseña</label>
    <div class="col-sm-7">
      <input type="password" class="form-control" id="new_pass" name="new_pass" ng-model="new_pass" ng-required="true" ng-minlength="8">
      <div ng-show="form.new_pass.$invalid && !form.new_pass.$pristine">
        <div ng-messages="form.new_pass.$error">
            <p class="help-block" ng-message="required">Introduzca una contraseña válida.</p>
            <p class="help-block" ng-message="minlength">La contraseña es demasiado corta.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" ng-class="{ 'has-error' : form.new_pass_confirm.$invalid && !form.new_pass_confirm.$pristine }">
    <label for="new_pass_confirm" class="col-sm-3 control-label">Confirmar contraseña</label>
    <div class="col-sm-7">
      <input type="password" class="form-control" id="new_pass_confirm" name="new_pass_confirm" ng-model="new_pass_confirm" ng-required="true" ng-minlength="8" compare-to="new_pass">
      <p ng-show="form.new_pass_confirm.$invalid && !form.new_pass_confirm.$pristine" class="help-block">Las contraseñas no coinciden.</p>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
      <button type="submit" class="btn btn-success" ng-disabled="!form.$dirty || form.$invalid">Guardar cambios</button>
    </div>
  </div>
</form>
