<div class="alert alert-success alert-dismissible fade in" ng-show="msg.length > 0">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>

  {{msg}}
</div>

<h4>Suscripción actual<br><small>Información acerca de tu suscripción.</small></h4>
<hr>
<div class="row">
  <div class="col-sm-6">
    <p><b>Tipo de Suscripción:</b> {{suscripcion.nombre}}</p>
    <p><b>Descripción:</b> {{suscripcion.descripcion}}</p>
  </div>
  <div class="col-sm-6">
    <p><b>Monto mensual:</b> {{suscripcion.monto_mensual | currency:"Bs. ":2}}</p>
    <p><b>Número de usuarios máximos permitidos:</b> {{suscripcion.num_usuarios}}</p>
  </div>
</div>
<br><br>
<h4>Cambiar suscripción<br><small>Cambia tu plan de suscripción a Priv.TV.</small></h4>
<hr>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>NOMBRE</th>
      <th>DESCRIPCIÓN</th>
      <th>MONTO MENSUAL</th>
      <th># USUARIOS</th>
      <th>CAMBIAR PLAN</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="plan in planes">
      <td>{{plan.id_tipo_suscripcion}}</td>
      <td>{{plan.nombre}}</td>
      <td>{{plan.descripcion}}</td>
      <td>{{plan.monto_mensual | currency:"Bs. ":2}}</td>
      <td>{{plan.num_usuarios}}</td>
      <td>
        <a href="" ng-click="plan.id_tipo_suscripcion == suscripcion.id_tipo_suscripcion || cambiar_plan(plan.id_tipo_suscripcion)" class="btn btn-warning center-block" ng-disabled="plan.id_tipo_suscripcion == suscripcion.id_tipo_suscripcion">
          <i class="fa fa-check" aria-hidden="true"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table>
