<div class="container-fluid">
  <div class="row">
  <!-- algodon que hizo cesar -->
    <div class="login-pad" id="login-pad">
      <img src="./icon.ico" alt="Priv.TV" class="center-block"  width="150" height="150">
      <h2 class="text-center brand-text">Priv.TV</h2>
      <div id="login" class="col-sm-push-4 col-sm-4 well">
        <div ng-show="flash">
          <div data-alert class="alert-box alert ">
            {{ flash }}
          </div>
        </div>

        <form name="loginform" ng-submit="login()">
          <div class="form-group">
            <label for="email_login">Correo Electrónico</label>
            <input name="email_login" id="email_login" type="email" ng-model="user_form.email" required="required" class="form-control">
          </div>

          <div class="form-group">
            <label for="password_login">Contraseña</label>
            <input name="password_login" id="password_login" type="password" ng-model="user_form.password" required="required" class="form-control">
          </div>

          <button type="submit" class="btn btn-success pull-left">Iniciar Sesión</button>
          <a href="#" class="btn btn-danger pull-right">Registrarse</a>
        </form>
      </div>
    </div>
  </div>
</div>
