<div class="video-player">
  <div ng-repeat="pelicula in pelicula">
    <video id="player" autoplay preload="auto" controls>
      <source ng-src="{{ pelicula.videoUrl }}" type="video/mp4">

        <track label="Spanish" kind="subtitles" srclang="es" src="http://localhost/privtv/peliculas/1/subtitles/spanish.vtt" default>
    </video>

    <div class="video-control">
      <a href="#/pelicula/{{ pelicula.idPelicula }}">
        <i class="fa fa-chevron-circle-left regresar" aria-hidden="true"></i>
      </a>
  </div>
</div>
