<div class="content">
  <div id="formu">
    <img src="./assets/images/priv6.png" alt="" class="center-block logo" />

    <div class="caja">
      <ul class="tab-group">
       <li ng-class="{active: $state.includes('singup.profile')}"><i class="fa fa-info" aria-hidden="true"></i></li>
       <li ng-class="{active: $state.includes('singup.subscription')}"><i class="fa fa-book" aria-hidden="true"></i></li>
       <li ng-class="{active: $state.includes('singup.payment')}"><i class="fa fa-credit-card" aria-hidden="true"></i></li>
       <li ng-class="{active: $state.includes('singup.user')}"><i class="fa fa-user-plus" aria-hidden="true"></i></li>
       <li ng-class="{active: $state.includes('singup.final')}"><i class="fa fa-tasks" aria-hidden="true"></i></li>
     </ul>

      <div id="singup_form">
        <form name="resgistro" id="resgistro" ng-submit="processForm()">
          <div id="form-views" ui-view></div>
        </form>
      </div>

    </div>
  </div>
</div>
