<div class="row">
  <div class="col-xs-12">
    <h3>Datos de Pago</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6" ng-class="{ 'has-error' : resgistro.tipo.$invalid && !resgistro.tipo.$pristine }">
    <label for="tipo">
      Tipo de tarjeta
    </label>
    <select class="input select" name="tipo" id="tipo" ng-model="formData.payment.tipo" ng-required="true" autocomplete="off">
      <option value="Visa">Visa</option>
      <option value="Master Card">Master Card</option>
    </select>
    <p ng-show="resgistro.tipo.$invalid && !resgistro.tipo.$pristine" class="help-block">Seleccione su tipo de tarjeta de crédito.</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-6" ng-class="{ 'has-error' : resgistro.card.$invalid && !resgistro.card.$pristine }">
    <label for="card">
      Número de tarjeta
    </label>
    <input type="number" ng-required="true" autocomplete="off" id="card" name="card" class="input" ng-model="formData.payment.card" ng-maxlength="19" ng-minlength="15" />
    <div ng-show="resgistro.card.$invalid && !resgistro.card.$pristine">
      <div ng-messages="resgistro.card.$error">
        <p ng-message="required"  class="help-block">Este campo es necesario.</p>
        <p ng-message="minlength"  class="help-block">Debe contener mínimo 15 digitos.</p>
        <p ng-message="maxlength"  class="help-block">Debe contener máximo 19 dígitos.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6" ng-class="{ 'has-error' : resgistro.cvv.$invalid && !resgistro.cvv.$pristine }">
    <label for="cvv">
      Código de seguridad
    </label>
    <input type="number" ng-required="true" autocomplete="off" id="cvv" name="cvv" class="input" ng-model="formData.payment.cvv" ng-maxlength="3" ng-minlength="3"/>
    <p ng-show="resgistro.cvv.$invalid && !resgistro.cvv.$pristine" class="help-block">Ingrese un código de seguridad válido.</p>
  </div>
</div>

<br>

<p class="texto">Fecha de Vencimiento</p>
<div class="row">
  <div class="col-xs-4" ng-class="{ 'has-error' : resgistro.mes.$invalid && !resgistro.mes.$pristine }">
    <label for="mes">
      Mes
    </label>
    <select class="input select" name="mes" id="mes" ng-model="formData.payment.vencimiento.mes" ng-required="true" autocomplete="off">
      <option value="1">Enero</option>
      <option value="3">Febrero</option>
      <option value="4">Marzo</option>
      <option value="5">Abril</option>
      <option value="5">Mayo</option>
      <option value="6">Junio</option>
      <option value="7">Julio</option>
      <option value="8">Agosto</option>
      <option value="9">Septiembre</option>
      <option value="10">Octubre</option>
      <option value="11">Noviembre</option>
      <option value="12">Diciembre</option>
    </select>
    <p ng-show="resgistro.mes.$invalid && !resgistro.mes.$pristine" class="help-block">Este campo es necesario.</p>
  </div>
  <div class="col-xs-2" ng-class="{ 'has-error' : resgistro.ano.$invalid && !resgistro.ano.$pristine }">
    <label for="ano">
      Año
    </label>
    <select class="input select" name="ano" id="ano" ng-model="formData.payment.vencimiento.ano" ng-required="true" autocomplete="off">
      <option ng-repeat="opt in years" value="{{opt.year}}">{{opt.year}}</option>
    </select>
    <p ng-show="resgistro.ano.$invalid && !resgistro.ano.$pristine" class="help-block">Este campo es necesario.</p>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="botones">
      <div class="pull-right">
        <a ng-disabled="resgistro.$invalid" ui-sref-if="!resgistro.$invalid" ui-sref-val="singup.user" class="btn btn-success">
          Siguiente <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </a>

        </a>
      </div>
      <div class="pull-left">
        <a ui-sref="singup.subscription" class="btn btn-link"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Regresar</a>
      </div>
    </div>
  </div>
</div>
