<div class="row">
  <div class="col-xs-12">
    <h3>Datos de Pago</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-6" ng-class="{ 'has-error' : resgistro.nombre_tarjeta.$invalid && !resgistro.nombre_tarjeta.$pristine }">
    <label for="nombre_tarjeta">
      Nombre (como aparece en tarjeta)
    </label>
    <input type="text" ng-required="true" autocomplete="off" id="nombre_tarjeta" name="nombre_tarjeta" class="input" ng-model="formData.payment.nombre_tarjeta" pattern="^[a-zA-Z-\s]+$" />
    <div ng-show="resgistro.nombre_tarjeta.$invalid && !resgistro.nombre_tarjeta.$pristine">
      <div ng-messages="resgistro.nombre_tarjeta.$error">
        <p ng-message="required"  class="help-block">Este campo es necesario.</p>
      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-6" ng-class="{ 'has-error' : resgistro.tipo.$invalid && !resgistro.tipo.$pristine }">
    <label for="tipo">
      Tipo de tarjeta
    </label>
    <select class="input select" name="tipo" id="tipo" ng-model="formData.payment.tipo" ng-required="true" autocomplete="off">
      <option value="Visa">Visa</option>
      <option value="Master Card">Master Card</option>
    </select>
    <p ng-show="resgistro.tipo.$invalid && !resgistro.tipo.$pristine" class="help-block">Seleccione su tipo de tarjeta de crédito.</p>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-6" ng-class="{ 'has-error' : resgistro.card.$invalid && !resgistro.card.$pristine }">
    <label for="card">
      Número de tarjeta
    </label>
    <input type="number" ng-required="true" autocomplete="off" id="card" name="card" class="input" ng-model="formData.payment.card" ng-maxlength="16" ng-minlength="16" />
    <div ng-show="resgistro.card.$invalid && !resgistro.card.$pristine">
      <div ng-messages="resgistro.card.$error">
        <p ng-message="required"  class="help-block">Este campo es necesario.</p>
        <p ng-message="minlength"  class="help-block">Debe contener 16 digitos.</p>
        <p ng-message="maxlength"  class="help-block">Debe contener 16 digitos.</p>
      </div>
    </div>
  </div>
  <div class="col-xs-6" ng-class="{ 'has-error' : resgistro.cvv.$invalid && !resgistro.cvv.$pristine }">
    <label for="cvv">
      Código de seguridad
    </label>
    <input type="number" ng-required="true" autocomplete="off" id="cvv" name="cvv" class="input" ng-model="formData.payment.cvv" ng-maxlength="3" ng-minlength="3"/>
    <p ng-show="resgistro.cvv.$invalid && !resgistro.cvv.$pristine" class="help-block">Ingrese un código de seguridad válido.</p>
  </div>
</div>

<br>

<div class="row">
  <div class="col-xs-12" ng-class="{ 'has-error' : resgistro.fecha_exp_tarjeta.$invalid && !resgistro.fecha_exp_tarjeta.$pristine }">
    <label for="fecha_exp_tarjeta">Fecha de Vencimiento</label>
    <input type="month" class="input" name="fecha_exp_tarjeta" id="fecha_exp_tarjeta" ng-model="formData.payment.fecha_exp_tarjeta" ng-required="true" autocomplete="off" min="{{hoy}}">
    <div ng-show="resgistro.fecha_exp_tarjeta.$invalid && !resgistro.fecha_exp_tarjeta.$pristine">
      <div ng-messages="resgistro.fecha_exp_tarjeta.$error">
        <p ng-message="required" class="help-block">Este campo es necesario.</p>
        <p ng-message="min" class="help-block">La fecha de expiración no puede ser menor que hoy.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12" ng-class="{ 'has-error' : resgistro.direccion_facturacion.$invalid && !resgistro.direccion_facturacion.$pristine }">
    <div class="campo">
      <label for="direccion_facturacion">Dirección de facturación</label>
      <textarea name="direccion_facturacion" rows="5" cols="40" ng-model="formData.payment.direccion_facturacion" ng-required="true" id="direccion_facturacion" class="input" pattern="^[a-zA-Z-\s]+$"></textarea>
      <div ng-show="resgistro.direccion_facturacion.$invalid && !resgistro.direccion_facturacion.$pristine">
        <div ng-messages="resgistro.direccion_facturacion.$error">
            <p class="help-block" ng-message="required">Este campo es necesario.</p>
            <p class="help-block" ng-message="pattern">Ha ingresado caracteres no válidos.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-xs-12">
    <div class="botones">
      <div class="pull-right">
        <a ng-disabled="resgistro.$invalid" ui-sref-if="!resgistro.$invalid" ui-sref-val="singup.user" class="btn btn-success">
          Siguiente <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </a>

        </a>
      </div>
      <div class="pull-left">
        <a ui-sref="singup.subscription" class="btn btn-link"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Regresar</a>
      </div>
    </div>
  </div>
</div>
