<div class="row">
  <div class="col-xs-12">
    <h3>Configuración perfil de usuario</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div class="campo">
      <label for="nickname">Nombre de Usuario</label>
      <input type="text" name="nickname" id="nickname" ng-required="true" ng-model="formData.user.nickname" class="input">
    </div>

    <div class="campo">
      <label for="bio">Biografía</label>
      <textarea name="bio" rows="5" cols="40" ng-model="formData.user.bio" ng-required="true" id="bio" class="input"></textarea>
    </div>

    <div class="campo">
      <label for="img_perfil">Imagen de perfil</label>
      <input type="file" name="img_perfil" fileread="formData.user.imagen" class="input" id="img_perfil" ng-required="true" accept="image/*">
    </div>

    <div class="campo">
      <label for="gustos">Seleccione sus gustos favoritos</label>
      <select name="gustos" id="gustos" ng-model="formData.user.gustos" multiple class="input select" ng-options="opt.nombre for opt in generos">
      </select>
    </div>

    <div class="botones">
      <div class="pull-right">
        <a ui-sref="singup.final" class="btn btn-success" ng-disabled="singup.$invalid">
          Siguiente <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
        </a>
      </div>
      <div class="pull-left">
        <a ui-sref="singup.payment" class="btn btn-link"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Regresar</a>
      </div>
    </div>
  </div>
</div>
