<div class="container-fluid">
  <div class="row">
    <div class="login-pad" id="login-pad">
      <img src="./assets/images/icon.ico" alt="Priv.TV" class="center-block"  width="150" height="150">
      <h2 class="text-center brand-text">Priv.TV</h2>
      <div id="login" class="col-sm-push-4 col-sm-4 well">
        <flash-message duration="8000"></flash-message>

        <form name="loginform" ng-submit="login()">
          <div class="form-group" ng-class="{ 'has-error' : loginform.email_login.$invalid && !loginform.email_login.$pristine }">
            <label for="email_login" class="control-label">Correo Electrónico</label>
            <input name="email_login" id="email_login" type="email" ng-model="user_form.email" class="form-control" ng-required="true">
            <div ng-show="loginform.email_login.$invalid && !loginform.email_login.$pristine">
              <div ng-messages="loginform.email_login.$error">
                <p ng-message="email"  class="help-block">El email introducido no es válido.</p>
              </div>
            </div>
          </div>

          <div class="form-group" ng-class="{ 'has-error' : loginform.password_login.$invalid && !loginform.password_login.$pristine }">
            <label for="password_login" class="control-label">Contraseña</label>
            <input name="password_login" id="password_login" type="password" ng-model="user_form.password" class="form-control" ng-required="true">
          </div>

          <button type="submit" class="btn btn-success pull-left" ng-disabled="loginform.$invalid">Iniciar Sesión</button>
          <a ui-sref="singup.profile" class="btn btn-danger pull-right">Registrarse</a>
        </form>
      </div>
    </div>
  </div>
</div>
