<div class="container-fluid">
  <div class="row">
    <div class="select-pad">
      <h2 class="select-header text-center">Seleccione un usuario</h2>
      <div id="select" class="col-sm-push-3 col-sm-6 well">
        <div class="row">
          <div class="col-sm-12">
            <div ng-repeat="usuario in usuarios">
              <a href="#/peliculas"  ng-click="iniciar( usuario.idUsuario )" class="usuarios">
                <img ng-src="{{ usuario.imagen_perfil }}" alt="{{ usuario.nickname }}" class="img-thumbnail center-block" width="100" height="100"/>
                <p class="nickname text-center">{{ usuario.nickname }}</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
